html,
body {
  margin: 0;
  padding: 0;
}

.grid-container {
  height: 100vh;
  width: 100vw;
  /* your properties here */
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr;
}

.grid-item {
  background-color: grey;
  border: 1px solid black;
}

/* add the .bigItem class */
.bigItem {
  grid-row-start: 2;
  grid-row-end: 7;
  grid-column-start: 2;
  grid-column-end: 4;
}
